@media screen and (max-width:720px) {
    .user__details {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width:610px) {
    .user__details {
        align-items: center;

        .user__bio {
            flex-direction: column;

            .user__name {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}