@media screen and (max-width: 570px) {
 .moderation__header{
    flex-direction: column;
    gap: 20px;
 }   
}

@media screen and (max-width: 500px) {
 .function__buttons{
    flex-direction: column;
 }   
}